* {
  padding: 0;
  margin: 0;
}
.App {
  background-image: url(/src/images/Earth.png), url(/src/images/stars.png);
  background-position: right, left;
  background-repeat: no-repeat;
  background-size: cover cover;
  width: 100%;
  height: 100vh;
}
