* {
  padding: 0;
  margin: 0;
}
.App {
  background-image: url(/src/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.Destination {
  background-image: url(/src/images/Destination.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.Destination-reg {
  background-image: url(/src/images/destination-reg.png);
  background-position: right;
  width: 50%;
  background-size: cover;
  height: 10vh;
}

.Crew-bg {
  background-image: url(/src/images/Crew-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.body {
  max-width: 1000px;
  margin: 150px auto;
}
.Destination-body {
  max-width: 1000px;
  margin: 30px auto;
}
.Destination-body-content {
  max-width: 800px;
  margin: 30px auto;
}

.gd {
  font-family: "Bellefair", serif;

  font-size: 105px;
}

/* .tested {
  border: 2px solid white;
  border-right: none;
  border-left: none;
  border-top: none;
} */

/* CSS */
.planet-button {
  background-color: transparent;
  color: rgb(191 219 254);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  text-decoration: none;
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
}

.planet-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.4); /* Faded line color */
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.planet-button:hover::after {
  transform: scaleX(1); /* Display the line on hover */
  transform-origin: bottom left;
}

.tested {
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-right: none;
  border-left: none;
  border-top: none;
}

.s-m-g-t {
  margin-top: 22%;
}

.hide {
  display: none;
}

/* SMALL SCREEEN */

@media only screen and (max-width: 600px) {
  .home-bg-sm {
    background-image: url(/src/images/md-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bg {
    background-image: url(/src/images/mobile-menu-bg.png);
    width: 100%;
    background-size: cover;
    height: 14vh;
    margin-top: 0;
    background-repeat: no-repeat;
  }

  .nav-text {
    flex-direction: column;
  }

  .line {
    display: none;
  }
}
